.pre-footer {
  height: 50vh;
  background: #005dcd url("assets/images/pre-footer-background.png") center center no-repeat;
  background-size: cover;
}
.post-footer {
  height: 50vh;
  background-color: #005bca;
}